body {
    margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding-right: 20px;

}

nav ul {
  text-align: center;
  margin: 0;
}


nav ul li a:active{
    color: bisque;
    text-decoration: solid underline;
}

nav{
    background-color: darkred;
    height: 2rem;
    align-content: center;
}

.active {
    color: bisque;
}