* {
    margin: 0;
    font-size: 40px;
}

.box {
    height: 100px;
    width: 100px;
    padding: 10px;
    border: 30px solid;
}

.box-1 {
    background-color: #eb5757;
    border-color: #9b51e0;
    margin: 100px;
    box-sizing: border-box;
}

.box-2 {
    background-color: aquamarine;
    border-color: lightpink;
    margin: 70px;
}