.parent {
    background-color: lightblue;
    position: relative;
    top: 20px;
    left: 20px;
    height: 80vh;
    width: 98%;
}

.child {
    height: 50px;
    padding: 10px;
}

.child-one {
    background-color: greenyellow;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
    width: 50px;
}

.child-two {
    background-color: pink;
    position: sticky;
    top: 20px;
}

.child-three {
    background-color: orange;
    position: relative;
}